{
    "1741430421.909234-localhost-5000": {
        "nickname": "test",
        "host": "localhost",
        "port": 5000,
        "password": "123",
        "notes": "",
        "last_connected": "2025-03-08T18:40:25.687442"
    },
    "1741430472.068858-59.148.103.245-5000": {
        "nickname": "test2",
        "host": "59.148.103.245",
        "port": 5000,
        "password": "secure_password",
        "notes": "",
        "last_connected": "2025-03-08T18:41:13.919777"
    }
}